
<h1> Login </h1>
<form action="/auth/login" method="POST">
  <div class="field">
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div class="field">
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div class="field control">
    <input type="submit" value="Log In">
  </div>
</form>

<a href="/auth/signup">Not a member? Click here</a>
