<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Do Tasty!</title>
</head>
<body>
    
    <nav class="nav-container">
      <div class="wrap-menu">
          
        <div class="nav-tabs">
          <a href="/offers">Offers</a>
        </div>
        <% if (user){ %> 
        <div class="nav-tabs">
          <% if (user.role === "BUYER"){ %>
            <a href="/coupons">My coupons</a>
          <% }else { %>
            <a href="/create-offer">My Offers</a>
          <% } %>
        </div>
        <div class="nav-tabs">
          <% if (user.role === "BUYER"){ %>
            <a href="/review">My reviews</a>
          <% }else { %>
          <a href="/review-restaurant">My reviews</a>
          <% } %>
        </div>
      <% } %>
    </div>
        <% if (user) { %>
    <div class="logout-container">
          <form method="post" action="/auth/logout">
            <button class="btn-logout">Logout</button>
          </form>
          <% } %>
    </div>
    </nav>
   


  <%- body%>

  <footer></footer>

</body>
</html>