<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Do Tasty!</title>
</head>
<body>

  <% if (user && user.role === "BUYER") { %>
    <header class="header-like">
      <img src="#" alt="company-logo">
    </header>

    <nav class="nav-container">
      <div class="nav-tabs">
        <a href="/offers">Offers</a>
      </div>
      <div class="nav-tabs">
       <a href="/coupons">My coupons</a>
      </div>
      <div class="nav-tabs">
        <a href="/review">My reviews</a>
      </div>
    </nav>
  <% }; %>

  <% if (user && user.role === "RESTAURANT") { %>
    <header class="header-like">
      <img src="#" alt="company-logo">
    </header>
  
    <nav class="nav-container">
      <div class="nav-tabs">
        <a href="/offers">Offers</a>
      </div>
      <div class="nav-tabs">
        <a href="/coupons">My Offers</a>
      </div>
      <div class="nav-tabs">
        <a href="/review">My reviews</a>
      </div>
    </nav>
  <% } %>

  <%- body%>

</body>
</html>