
<h1>My coupons</h1>

<% coupons.forEach(coupon => { %>
  <div class="coupon-single">
    <h4>
      <%= coupon.name %>
    </h4>
    <p>
      Deal:
      <%= coupon.dealname %>
    </p>
    <p>
      Price:
      <%= coupon.price %>
    </p>
    <p>
      Quantity bought:
      <%= coupon.quantity %>
    </p>
    <p>
      Coupon status:
      <% if (!coupon.status) { %>
      Not used
      <% } else { %> 
      Used
      <% } %>
    </p>
    <button id="review-btn">+ Add Review</button>

    <form id="review-container" style="display:none" action="/review" method="post">
      <div>
        <label for="rate">Rate from 1 to 5:</label>
        <input type="number" name="rate">
      </div>
      <div>
        <label for="review-box">Please insert review in box below:</label>
        <textarea name="comment" id="comment" cols="40" rows="10"></textarea>
      </div>
      <div>
        <input type="submit" value="Submit Review">
      </div>
    </form>
<% }) %>

<script src="/javascripts/create-review.js"></script>