
<p class="title-pages">My Coupons</p>

<% coupons.forEach(coupon => { %>
  <div class ="offers-container">
      <div class="rest-name"><%= coupon.name %></div>
        <div class="rest-info">
          <table>
            <tbody>
            <tr>
            <td>Deal:</td>
            <td><%= coupon.dealname %></td>
            </tr>
            <tr>
            <td>Price:</td>
            <td><%= coupon.price + ' €'%></td>
            </tr>
            <tr>
            <td>Quantity:</td>
            <td> <%= coupon.quantity + ' Coupons' %></td>
            </tr>
            <tr>
              <td>Status:</td>
              <td><% if (!coupon.status) { %> Not used
                <% } else { %> 
                Used
                <% } %> </td>

            </tr>
            </tbody>
            </table> 
        </div>
    






    </p>
    <button id="review-btn" class="btn btn-warning" >+ Add Review</button>
  
    <form id="review-container" style="display:none" action="/review" method="post">
      <div class="form-group">
        <label for="rate">Rate from 1 to 5:</label>
        <input type="number" name="rate">
      </div>
      <div class="form-group">
        <label for="review-box">Please insert review in box below:</label>
        <textarea name="comment" id="comment" class="form-control" cols="40" rows="10"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Submit Review" >
      </div>
    </form>
  </div>
<% }) %>

<script src="/javascripts/create-review.js"></script>