
<h1>My coupons</h1>

<% coupons.forEach(coupon => { %>
  <div class="coupon-single">
    <h4>
      <%= coupon.name %>
    </h4>
    <p>
      Deal:
      <%= coupon.dealname %>
    </p>
    <p>
      Price:
      <%= coupon.price %>
    </p>
    <p>
      Quantity bought:
      <%= coupon.quantity %>
    </p>
    <p>
      Coupon status:
      <% if (!coupon.status) { %>
      Not used
      <% } else { %> 
      Used
      <% } %>
    </p>
    <form action="/review" method="post">
    <input type="submit" value="Make Review">
    </form>
  </div>
<% }) %>