

<% if (!user){ %>
<h1 class="main-title">DO TASTY!</h1>
<div class="main-container">
    
    <div class ="log-sign">
        <a href="/auth/login">Log In</a>
    </div>
    <div class ="log-sign">
         <a href="/auth/signup">Signup</a>
    </div>
</div>

<% }else { %>

    <h1 class="welcome">Welcome <%= user.username %> </h1>

<% } %>
