<h1>Offers</h1>

<div class="offer-wrapper">
<% offers.forEach((offer)=> { %>
  <div class="offer-single">
    <h4> 
      <%= offer.name %>
    </h4>
    <p>
      Deal: <%= offer.dealname %></p>
    <p>
      Price: <%= offer.price %>
    </p>
    <p>
      Quantity left: <%= offer.quantity %>
    </p>
  </div>
  <input type="submit" value="Buy" style="border: 1px red solid">
<% }); %>

</div>
  