<div class="title-page-deg">
    <p class="title-pages">Reviews for Restaurant</p>
    </div>

<% reviews.forEach(review => { %>
  <div class ="offers-container">
      <div class="rest-name"></div>
        <div class="rest-info">
          <div class="offer-div">
            <p>Coupon ID:</p>
            <p>User:</p>
            <p>User Rating:</p>
            <p>User Comment:</p>
          </div>
          <div class="result-div">
            <p>  <%= review.couponId %></p>
            <p><%= review.name %></p>
            <p><%= review.rate %></p>
            <p><%= review.comment %></p>
          </div>
        </div>
  </div>
</div>


  <%});%>