<div class="title-page-deg">
    <p class="title-pages">My Reviews</p>
    </div>

<% reviews.forEach(review => { %>
  <div class="container">
   <div class ="offers-container">
            <p>Coupon ID: <%= review.couponId %></p>
            <p>Rating: <%= review.rate %></p>
            <p>Comment: <%= review.comment %></p>
                 
      </div>
  </div>
</div>


  <%});%>