
<div class="title-page-deg">
    <p class="title-pages">Reviews Done</p>
    </div>

<% reviews.forEach(review => { %>
  <div>
    Coupon ID: <%= review.couponId %>
  </div>
  <div>
    Restaurant: <%= review.name %>
  </div>
  <div>
    User Rating: <%= review.rate %>
  </div>
  <div>
    User Comment: <%= review.comment %>
  </div>
<br>
<%});%>


