
<h1>Sign up(User) </h1>
<form action="/signup" method="post">

  <label for="username">Username</label>
  <input type="text" name="username">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password">

</form>

<a href="/login">Are you a member already? Click here</a>
<a href="/signup-merchant.ejs">Are you a Merchant? Click here</a>
