
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---- typography ---- */
.welcome{
  margin-top: 20vh;
  text-align: center;
  font-size: 10em;
}
.main-signuplogin{
  background: rgb(230, 230, 230);
  width: 80vw;
  
  text-align: center;
  margin:8vh auto;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

.menu-item-logsign a:link{
 
  color: black;
}

.row:first-child{
  border-bottom: 1px solid black;
}
.login{
  text-align: center;
  background: red;
  width: 80%;
  height: 8vh;
  margin:1vh auto;
  padding-top: 2vh;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}
.menu-item a:link{

  color: black;
}
.title-div{
  font-size: 2em;
  margin:auto;
  
}
table{
  /* border: 1px solid black; */
  margin: 5vh auto 0vh;
  width: 60vw;
}
 table td:last-child{
  text-align: right;
  width: 30vw;
}
.button-div{
  /* border: 1px solid black; */
  width: 20vw;
  text-align: center;
  margin: 3vh auto;
  
  
}
.title-pages{
  font-size: 2em;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}
.row{
  height: 10vh;
}
 body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(224, 224, 224)!important;
  padding: 0;
  margin: 0;
}
/*

h1 {
  font-size: 20px;
}
.welcome{
  font-size: 3vw;
  font-weight: bolder;
  text-align: center;
  margin-top: 20vh;
} */
h2 {}

h3 {}

/* a{
  color: rgb(0, 3, 41);;
  text-decoration: none;

} */




/* ---- layout ---- */

.offers-container{
  width: 80vw;
  height: 30vh;
  border: 1px solid black;
  margin: 5vh auto;
  border-radius: 5px;
  background: #fcecb9;
}
.rest-name{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #f0ad4e;
}
.col-3{
  
  
}
.col-2{
  
  border-bottom: 1px solid black;
}

.menu-item{
  background:none;
  margin-top: 1vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 8vh;
  text-align: center;
  padding-top: 2vh;
  

}

a{
  color: black!important;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:before,  .btn-logout:before{
  content: "";
  position: absolute;
  width: 100%;
  height:2px;
  bottom: 10px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before, .btn-logout:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}
 a:hover{
  text-decoration: none!important;
 }

.menu-item-logsign{
  background: rgb(0, 255, 55);
  width: 8vw;
  height: 4vh;
  margin: auto;
  margin-top: 2vh;
  padding-left: 2vw;
  margin-left: 1vw;
  
}
form{
margin-bottom: 0!important;
}




#site-header {}

#site-footer {}

#site-main {}




/* ---- components ---- */

 .btn-logout{
  height: 5vh;
  width: 10vw;
  border: none;
  color: rgb(0, 0, 0);
  background:NONE;
  margin-bottom: 6vh;
  cursor: pointer;
}
