
<div class="offer-container">
  <div class="offer-form">
  </div>
  <div class="offer-form">
    <label for="deal-name">Deal Name: </label>
    <input type="text" name="deal-name">
  </div>
  <div class="offer-form">
    <label for="price">Price for Offer:</label>
    <input type="number" name="price">
  </div>
  <div class="offer-form">
    <label for="quantity">Quantity of Deals Available: </label>
    <input type="number" name="quantity">
  </div>

  <div class="delete">
    <input type="submit" value="Delete">
  </div>

  <div class="create">
    <input type="submit" value="Create">
  </div>

</div>